* {
    box-sizing: border-box;
}

#chat {
    max-width: 1140px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}
input[name=username] {
    padding: 15px 10px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 16px;
    color: #222;
    outline: none;
}

input[name=message] {
    flex: 1;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;
    outline: 0;
    font-size: 16px;
    color: #222;
}

input[type=submit] {
    width: 150px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
    background-color: #007BFF;
}

input[type=submit]:hover {
    background-color: #0062cc;
}

#messagesArea {
    height: 650px;
    width: 100%;
    overflow-y: scroll;
    padding: 0 15px;
    margin-bottom: 10px; 
    border-radius: 5px;
    background-color: #E8F0FE;
}

#inputsArea {
    display: flex;
}